src/lib/iTin.Charting/iTin.Charting.Models/Design/Schemas/xml [xsd]/ModelSharedTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

  <!-- Common base types -->
  <xs:include schemaLocation="ModelBaseTypes.xsd" />
  
  <!-- =============================== -->
  <!-- Definition of common data types -->
  <!-- =============================== -->

  <!-- YesNo: Boolean type -->
  <xs:simpleType id="YesNo" name="YesNo">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Yes">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Represents the boolean value 'true'
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="No">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Represents the boolean value 'false'
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- FieldNameString: Represents a valid field name -->
  <xs:simpleType id="FieldNameString" name="FieldNameString">
    <xs:restriction base="xs:string">
      <xs:pattern value="([\w%@\*#-_]+)" />
      <xs:pattern value="\s*\{\s*[B|b]inding\s*:\s*@?_*[A-Za-z]{1}[A-Za-z0-9]*\s*\}"/>
      <xs:pattern value="\s*\{\s*[B|b]inding\s*:\s*(@?_*[A-Za-z]{1}[A-Za-z0-9]*)\.?@?_*[A-Za-z]{1}[A-Za-z0-9]*\s*\}"/>
      <xs:whiteSpace value="collapse" />
    </xs:restriction>   
  </xs:simpleType>

  <!-- freeStringType: free text -->
  <xs:simpleType id="freeStringType" name="freeStringType">
    <xs:union memberTypes="xs:string"/>
  </xs:simpleType>

  <!-- EmptyString. Defines an empty string -->
  <xs:simpleType name="EmptyString" id ="EmptyString">
    <xs:restriction base="xs:string">
      <xs:pattern value="" />
      <xs:whiteSpace value="collapse" />
    </xs:restriction>
  </xs:simpleType>
  

  <!-- ================================ -->
  <!-- Definition of known enumerations -->
  <!-- ================================ -->

  <!-- KnownTickMarkStyle: Axes tick mark style -->
  <xs:simpleType id="KnownTickMarkStyle" name="KnownTickMarkStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:documentation>No mark.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cross">
        <xs:annotation>
          <xs:documentation>Crosses the axis.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inside">
        <xs:annotation>
          <xs:documentation>Inside the axis.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outside">
        <xs:annotation>
          <xs:documentation>Outside the axis.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- KnownBorderPosition: Known border position -->
  <xs:simpleType id="KnownBorderPosition" name="KnownBorderPosition">
    <xs:restriction base ="xs:string">
      <xs:enumeration value="Left">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Left border.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Top">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Top border.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Right">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Right border.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bottom">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Bottom border.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DiagonalLeft">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Diagonal-Left border.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DiagonalRight">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Diagonal-Right border.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- KnownLineStyle: Known line style -->
  <xs:simpleType name="KnownLineStyle">
    <xs:restriction base ="xs:string">
      <xs:enumeration value="None">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            No line
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Continuous">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Continuous line
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Dash">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Dashed line
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DashDot">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Dash-dot line
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DashDotDot">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Dash-dot-dot line
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Dot">
        <xs:annotation xmlns="http://www.w3.org/2001/XMLSchema">
          <xs:documentation xml:lang="en">
            Dotted line
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- KnownLegendLocation: Known legend position -->
  <xs:simpleType name="KnownLegendLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            At the top
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Right">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            At the right
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bottom">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            At the bottom
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Left">
        <xs:annotation>
          <xs:documentation xml:lang="en">
            At the left
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- KnownTextAlignment: Known text alignment -->
  <xs:simpleType name="KnownTextAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Near">
        <xs:annotation>
          <xs:documentation>Specifies that the text is aligned near the origin position of its container</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Center">
        <xs:annotation>
          <xs:documentation>Specifies that the text is aligned in the center of its container</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Far">
        <xs:annotation>
          <xs:documentation>Specifies that the text is aligned away from the source position of its container</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- KnownTickStyle: Known tick style -->
  <xs:simpleType name="KnownTickStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:documentation>No mark</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cross">
        <xs:annotation>
          <xs:documentation>Crosses the axis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inside">
        <xs:annotation>
          <xs:documentation>Inside the axis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outside">
        <xs:annotation>
          <xs:documentation>Outside the axis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- KnownTextOrientation: Known text orientation -->
  <xs:simpleType name="KnownTextOrientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto">
        <xs:annotation>
          <xs:documentation>Text orientation is determined automatically</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Horizontal">
        <xs:annotation>
          <xs:documentation>The text is horizontal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rotated90">
        <xs:annotation>
          <xs:documentation>The text is rotated 90 degrees and is oriented from top to bottom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rotated270">
        <xs:annotation>
          <xs:documentation>The text is rotated 270 degrees and is oriented from bottom to top</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
